/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2016, 5:13:27 PM
    Author     : SAROWER
*/

$orange:#e95b1a;

body{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}
p{
    font-weight: 400;
    line-height: 22px;
}
h1{
    font-size:33px;
    line-height:42px;
    font-weight:600;
    small{
        font-size:28px;
        color: inherit;
        font-weight:600;
    }
    .text-upper{
        text-transform: uppercase;
    }
}

.btn{
    &.btn-orange{
        background:$orange;
        color:white;
        text-transform: uppercase;
        padding:12px 58px 12px;
        border:0px;
    }
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; 
    top: 2px;
    width: 17px; 
    height: 17px;
    border: 1px solid $orange;
    background: $orange;
    border-radius: 2px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: ' ';
    width: 11px; 
    height: 11px;
    border-radius: 2px;
    position: absolute;
    top: 5px; 
    left: 3px;
    font-size: 18px;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
    background:white;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted $orange;
}


/*========== Navbar ==========*/
.navbar{
    background:transparent;
    border-radius: 0;
    border:0;
    .navbar-collapse{
        background:#d1eef9;
        box-shadow: 0 0 5px rgba(0,0,0,.31);
        .nav{
            margin:18px 0;
            li{
                a{
                    color:#189bc9;
                    font-weight: 600;
                }
            }
        }
    }
    >.container{
        .navbar-brand{
            margin-left: 15px;
            height:auto;
            padding:30px 30px 30px 15px;
        }
    }
}/*== End Navbar ==*/


/*========== Main Content ==========*/
main{
    margin-top:-110px;
    padding:152px 0 50px;
    background:#0787b5;
    background: -webkit-linear-gradient(left, #2fbbed , #007fac);
    background: -o-linear-gradient(right, #2fbbed, #007fac);
    background: -moz-linear-gradient(right, #2fbbed, #007fac);
    background: linear-gradient(to right, #2fbbed , #007fac);
    &.main_blue_bg{
        color:white;
    }
    .main_title{
        margin-bottom: 5px;
    }
    .include_list{
        margin: 0;
        padding:0;
        li{
            display:inline-block;
            width:48%;
            padding-left:20px;
            background-image:url('../images/bullet.png');
            background-repeat:no-repeat;
            background-position: left center;
            line-height: 22px;
        }
    }
    .cad_logo_cont{
        margin-top:-30px;
    }
    .download_box{
        box-shadow: 0 0 16px rgba(0,0,0,.26);
        h3{
            color:white;
            background:$orange;
            padding:10px;
            margin:0;
            text-align:center;
            text-transform: uppercase;
            font-size:16px;
            line-height: 24px;              
            color:white;
        }
        .box_content{
            background:white;
            padding:15px;
            color:#565656;
            label{
                font-size:15px;
                color:$orange;
                font-weight:400;
            }
            .form-control{
                border-radius: 2px;
                background:$orange;
                color:white;
                border:0px;
            }
            ::-webkit-input-placeholder{
                color:#fdb898;
            }
            .hints{
                background:#ffeae1;
                border:1px solid #ffcdb8;
                padding:15px;
                font-size: 13px;
                line-height: 16px;
            }
            .checkbox{
                .full_label{
                    width:100%;
                    padding-left: 0;
                    text-align: justify;
                    label{
                        padding-left: 0;
                    }
                }
            }
        }
    }
}/*== End Main Content ==*/


/*========== Footer ==========*/
footer{
    background:#3b3b3b;
    color:#acacac;
    padding:32px 0;
    p{
        margin: 0;
    }
}/*== End Footer ==*/



@media screen and (max-width:991px){
    main .download_box{
        max-width: 350px;
        margin: 50px auto 0;
    }
}

@media screen and (max-width:767px){
    main{
        padding: 92px 0 50px;
    }
    main .cad_logo_cont{
        margin-top: 50px;
    }
    .collapse{
        display:block;
    }
    .navbar > .container .navbar-brand{
        margin-left: calc(50% - 103px);
        padding: 10px 30px 10px 15px;
    }
    .navbar .navbar-collapse{
        background:transparent;
        box-shadow: none;
        text-align: center;
        border: 0;
    }
    .navbar-default{
        background: #d1eef9;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.31);
    }
    .navbar .navbar-collapse .nav{
        margin: 0 0 10px 0;
    }
    
    footer .footer_logo{
        text-align: center;
    }
    footer .footer_text{
        text-align: center;
        margin-top: 15px;
    }
}

@media screen and (max-width:480px){
    main .include_list li{
        width:100%;
    }
}